/*
  Name: Dmitriy Shepelev and Jim Supawish
  Date: November 29, 2021
  Section: CSE 154 AC
  This CSS adds interactivity to the Craigsbay website by providing a simple yet
  sleek layout. Notably, it styles buttons, overlays elements over other
  elements, and gives flex properties to the item catalog, transaction history,
  and an item's reviews.
*/

body {
  font-family: 'Gill Sans', sans-serif;
}

h1 {
  font-family: 'Comforter', cursive;
  font-size: 50px;
  margin-bottom: 15px;
}

header {
  position: relative;
}

hr {
  border: 3 solid;
}

nav {
  margin-top: 0px;
  margin-bottom: 35px;
}

button {
  border: none;
  font-size: large;
  border-radius: 50px;
  background-color: transparent;
}

input[type='radio'] {
  border-radius: 0%;
}

div#filters {
  min-width: 120px;
}

button, #error {
  padding: 20px;
}

button, article > img {
  cursor: pointer;
}

button:hover,
nav button:hover,
#error,
#search-btn:hover,
.selected,
#layout > button:hover,
#sign-up-btn:hover,
#login-btn:hover {
  color: white;
}

button:hover, #search-btn:hover {
  background-color: green;
}

nav button:hover, #dropdown-cntr:hover #accounts-btn, nav div div button {
  background-color: lightskyblue;
}

#dropdown-cntr, #dropdown-cntr:hover, nav div button {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

h1, nav {
  margin-left: auto;
  margin-right: auto;
}

form article {
  margin-bottom: 20px;
}

body, #transaction-confirmation {
  background-color: white;
}

#filter, .dropdown > button {
  width: 100%;
}

nav, #search-bar {
  justify-content: center;
}

nav,
#search-bar,
#content,
.flex-col,
.list,
.flex,
#sign-up form,
#login form,
#item-container {
  display: flex;
}

nav, #search-bar, #content, .flex, #item-container {
  flex-direction: row;
}

#transaction-confirmation, .dropdown, #user {
  z-index: 1;
}

.flex-col, .list, #sign-up form, #login form {
  flex-direction: column;
}

#item > article > form > input {
  width: 40px;
}

#error, #transaction-confirmation {
  position: fixed;
}

#search-term, #item-container > img {
  width: 400px;
}

#search-bar,
#transaction-confirmation,
#sign-up form,
#login form {
  align-items: center;
}

article > img {
  height: 300px;
}

article > img, #transaction-confirmation {
  width: 300px;
}

#item-container > img {
  height: 400px;
}

#transactions > p {
  font-size: 20px;
}

#sign-up-btn, #login-btn, #logout-btn {
  border-radius: 0px;
}

#login-btn, #logout-btn {
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

#items > article > p {
  overflow-wrap: break-word;
}

#items > article {
  margin: 25px;
}

#item-container button, #dropdown-cntr:hover .dropdown, nav div div button {
  display: block;
}

#feedbacks article, #transactions article article {
  padding: 20px 0px 20px 0px;
  border-bottom: 2px solid black;
}

#feedbacks article p, #transactions article article p {
  margin: 5px 0px 5px 0px;
}

body, .green, nav div div button {
  color: black;
}

.dropdown, #user {
  position: absolute;
}

#dropdown-cntr:hover, nav div button {
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
}

.selected, #layout > button:hover {
  background-color: blue;
}

.list, .flex {
  margin-left: 40px;
}

#sign-up label, #login label {
  margin-top: 20px;
}

h2, button, h1, nav, #error, #sign-up p, #login p, #transactions {
  text-align: center;
}

#item-container > img, #item-container > div {
  padding: 30px;
}

#filters, #search-term {
  padding-left: 20px;
}

.list > article > img {
  padding-right: 30px;
}

article.list {
  margin-left: 20%;
}

.hidden {
  display: none;
}

.flex {
  flex-wrap: wrap;
}

.green {
  background-color: lightgreen;
}

.star-container {
  overflow: hidden;
}

.star {
  width: 75px;
}

#search-btn {
  margin-left: 10px;
}

#quantity {
  margin-top: 10px;
  margin-bottom: 10px;
}

#item-container {
  padding: 5px;
}

#description {
  font-weight: bold;
}

#filters {
  min-width: 100px;
  padding-right: 20px;
}

#error {
  background-color: red;
  left: 25%;
  right: 25%;
  z-index: 2;
}

#user {
  margin-left: 85%;
}

#search-term {
  height: 30px;
  border-radius: 100px;
}

#content {
  justify-content: start;
}

#transaction-confirmation {
  margin-left: 40%;
  margin-right: 50%;
  border: black 2px solid;
}
